<head>
    <title> Junction X </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <!-- <div class="header">
                    <h2 class="mt-5" style="text-align: center; color: white;">CAMERA DETECTION APP</h2>
                </div> -->

                <div class="display">
                    <!-- Left side of viewport -->
                    <div class="viewport_center">
                        <div style="width: 100%; height: 100%; max-width: 56vw;">
                            <img alt="viewport" src="{{url_for('video_camera')}}">
                        </div>

                    </div>

                    <!-- Resizer -->
                    <div class="resizer" id="resizer"></div>

                    <!-- Right side of viewport -->
                    <div class="viewport_column">
                        <div class="viewport_center" style="width: 100%; height: 50%;">
                            <div id="logBox1" style="width: 98%; height: 96%; background-color: transparent; border: solid white; color: white;">
                                <h2 style="text-align: center;">Overlap detector</h2>
                                <h3 style="margin-left: 3%;">Instructions:</h3>
                                <ol>
                                    <li><span class="label">Detect Overlap:</span> Identify and display overlapping areas for 2 - 4 cameras</li>
                                    <li><span class="label">Start/Stop Recording:</span> Toggle between starting and stopping video recording</li>
                                    <li><span class="label">Clear all:</span> Clear all camera </li>
                                    <li><span class="label">ConnectRTSP:</span> Add the camera with its RTSP link</li>
                                </ol>
                            </div>
                        </div>
                        <div class="viewport_center" style="width: 100%; flex: 1;">
                            <div id="logBox2" style="width: 98%; height: 98%; color: white;">
                                <h3>LOGS: </h3>
                                <p> {{ log_message }} </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="viewport_center" style="width: 100%; height: 9%; border: 1px solid #cbd5e0; background-color: #080808;">
                    <div class="menu">
                        <form method="post" action="{{ url_for('tasks') }}" enctype="multipart/form-data">
                            <input type="submit" value="Detect Overlap" name="detect" />
                            <input type="submit" value="Start/Stop Recording" name="rec" />
                            <input type="submit" value="Clear all" name="clear" />
                            <input type="text" name="rtsp" placeholder="Enter RTSP address" />
                            <input class="btn btn-outline-primary" type="submit" value="ConnectRTSP">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='scripts/gui.js')}}">
    </script>
</body>