@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&amp;family=Noto+Sans+JP&amp;display=swap');
input[type=submit] {
    background-color: transparent;
    border: solid;
    color: white;
    padding: 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    outline: none;
}

img {
    width: 49%;
    max-width: 28vw;
    height: auto;
    float: left;
    margin: 0.5%;
}

input:hover {
    background-color: white;
    color: #080808;
}
input[name=rec]:hover {
    background-color: rgb(159, 0, 0);
}
input[value=ConnectRTSP]:hover {
    background-color: rgb(0, 159, 0);
}

h2,
h3,
ol {
    font-family: 'Montserrat';
}

span {
    font-weight: bolder;
}



.header {
    background-color: #080808;    
    border: 2px solid #cbd5e0;
    height: 10%;
    width: 100%;
}
.menu {
    height: 98%;
    width: 98%;
}
.display {
    display: flex;

    /* Misc */
    border: 2px solid #cbd5e0;
    height: 90%;
    width: 100%;

    background-color: #080808;

}
.viewport_center {
    width: 59%;

    /* Misc */
    display: flex;
    justify-content: center;
    align-items: center;
}
.viewport_column {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 2px;
}